
<!-- FEATURED PROJECT -->
<section class="container-fluid dark project--fullwidth" style="background-image: url('{{ 'assets/images/bg-av.jpg' | theme }}');">
    <article class="container">
        <div class="row">

            <header class="col-lg-4 no-gutter project--description">
                <h1 class="project-title">AnthemVault</h1>
                <ul class="project-tags">
                    <li>Research</li>
                    <li>Branding</li>
                    <li>UI/UX</li>
                    <li>Front-End Dev</li>
                </ul>
                <p class="project-text">
                    Anthem Vault, an online service that allows anyone to start owning real gold and silver at affordable prices.
                </p>
                <!--<a href="#" class="btn btn-lg btn-secondary-outline round"> View Case Study</a>-->
            </header>

            <aside class="col-lg-8 col-lg-push-1 no-gutter project--image">
                <img src="{{ 'assets/images/screens-av.png' | theme }}" alt="" class="img-fluid">
            </aside>

        </div>
    </article>
</section>

<!-- FEATURED PROJECT -->
<section class="container-fluid dark project--fullwidth" style="background-image: url('{{ 'assets/images/bg-hg.jpg' | theme }}');">
    <article class="container">
        <div class="row">

            <header class="col-lg-4 no-gutter project--description">
                <h1 class="project-title">HayekGold</h1>
                <ul class="project-tags">
                    <li>Research</li>
                    <li>Branding</li>
                    <li>UI/UX</li>
                    <li>Front-End Dev</li>
                </ul>
                <p class="project-text">
                    Hayek Gold, an online service that allows anyone to start owning real gold and silver at affordable prices.
                </p>
                <!--<a href="#" class="btn btn-lg btn-secondary-outline round"> View Case Study</a>-->
            </header>
            <aside class="col-lg-8 col-lg-push-1 no-gutter project--image">
                <img src="{{ 'assets/images/screens-hg.png' | theme }}" alt="" class="img-fluid">
            </aside>
        </div>
    </article>
</section>

<!-- FEATURED PROJECT -->
<section class="container-fluid dark project--fullwidth" style="background-image: url('{{ 'assets/images/bg-inv.jpg' | theme }}');">
    <article class="container">
        <div class="row">

            <header class="col-lg-4 no-gutter project--description">
                <h1 class="project-title">Invalog</h1>
                <ul class="project-tags">
                    <li>Product Design</li>
                    <li>Branding</li>
                    <li>UI/UX</li>
                    <li>Front-End</li>
                </ul>
                <p class="project-text">
                    Invalog was created to enable home lifecycle organization and management. It tracks everything that has to do with home.
                </p>
                <!--<a href="#" class="btn btn-lg btn-secondary-outline round"> View Case Study</a>-->
            </header>

            <aside class="col-lg-8 col-lg-push-1 no-gutter project--image">
                <img src="{{ 'assets/images/screens-inv.png' | theme }}" alt="" class="img-fluid">
            </aside>

        </div>
    </article>
</section>

<!-- FEATURED PROJECT -->
<section class="container-fluid dark project--fullwidth" style="background-image: url('{{ 'assets/images/bg-ablv.jpg' | theme }}');">
    <article class="container">
        <div class="row">

            <header class="col-lg-4 no-gutter project--description">
                <h1 class="project-title">Airbrush Las Vegas</h1>
                <ul class="project-tags">
                    <li>Branding</li>
                    <li>Web Design</li>
                    <li>TV Menu Design</li>
                </ul>
                <p class="project-text">
                    Airbrush Las Vegas, a beautiful retail store specializing in all airbrush apparel and events located in the heart of Vegas.
                </p>
                <!--<a href="#" class="btn btn-lg btn-secondary-outline round"> View Case Study</a>-->
            </header>

            <aside class="col-lg-8 col-lg-push-1 no-gutter project--image">
                <img src="{{ 'assets/images/screens-ablv.png' | theme }}" alt="" class="img-fluid">
            </aside>

        </div>
    </article>

</section>