<footer class="footer-page container-fluid container--inverse dark text-xs-center">
    <div class="container">
        <h5 class="display-4">Let's Work Together</h5>
        <p class="lead">Talk to me about what I can do for your business</p>
        <a href="javascript:void(0)" onclick="openNav()" class="btn btn-lg btn-primary round brand-gradient" role="button">Let's Connect</a>
    </div>
        <div class="flexbox-container footer--row">
            <div class="flex-link flex-text-left">
                <small>Made with <i class="fa fa-heart"></i>, a keyboard, and loud music in Las Vegas</small>
            </div>
            <div class="flex-link flex-text-right hidden-sm-down">
                <ul class="list-inline m-b-0">
                    <li><a href="https://github.com/enoklabs" target="_blank"><i class="fa fa-2x fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/enokmadrid" target="_blank"><i class="fa fa-2x fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/enokmadrid" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li><a href="https://dribbble.com/enokmadrid" target="_blank"><i class="fa fa-2x fa-dribbble"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/enokmadrid" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

</footer>