==
<div class="flexbox-container mobile-menu" style="background:#f2f2f2;">
    <a href="#" class="flex-link active">
        <i class="icon-home icons">
            <span>Home</span>
        </i>
    </a>
    <a href="#" class="flex-link">
        <i class="icon-screen-desktop icons">
            <span>Work</span>
        </i>
    </a>
    <a href="#" class="flex-link">
        <i class="icon-organization icons">
            <span>Process</span>
        </i>
    </a>
    <a href="#" class="flex-link">
        <i class="icon-user icons">
            <span>About</span>
        </i>
    </a>
    <a href="#" class="flex-link">
        <i class="icon-paper-plane icons">
            <span>Contact</span>
        </i>
    </a>
</div>