==
<nav class="flexbox-container {% if isDark %} dark {% endif %}">
    <div class="box logo">
        <div>
            <a href="{{ 'homepage'|page }}">
                <img src="{{ 'assets/images/enok-logo.svg' | theme }}" alt="Enok Madrid Logo">
                Enok Madrid
            </a>
        </div>
    </div>
    <div class="box navigation hidden-sm-down {% if isDark %} dark {% endif %}">
        <ul class="list-inline">
            <li><a href="{{ 'work'|page }}">Work</a></li>
            <li><a href="{{ 'about'|page }}">About</a></li>
            <li><a href="{{ 'process-discovery'|page }}">Process</a></li>
            <li><a href="{{ 'learn'|page }}">Training</a></li>
        </ul>
    </div>
    <div class="box hidden-sm-down">
        <div>
            <a href="https://goo.gl/forms/ipwbE95jv0x5FXbX2" target="_blank" class="btn btn-action round btn-sm">
                <i class="fa fa-phone text-sm-center"></i> Contact me
            </a>
        </div>
    </div>
</nav>

<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content container">
        <div class="row">

            {% partial "contactForm" %}

        </div>
    </div>
</div>

<script>

</script>