==
<div class="flexbox-container mobile-menu process">
    <a href="{{ 'ux-process/discovery'|page }}" class="flex-link {% if this.page.id == 'ux-process-discovery' %}active{% endif %}">
        <i class="icon icon-binoculars">
            <span>Discovery</span>
        </i>
    </a>
    <a href="{{ 'ux-process/exploration'|page }}" class="flex-link {% if this.page.id == 'ux-process-exploration' %}active{% endif %}">
        <i class="icon icon-compass-3">
            <span>Exploration</span>
        </i>
    </a>
    <a href="{{ 'ux-process/prototype'|page }}" class="flex-link {% if this.page.id == 'ux-process-prototype' %}active{% endif %}">
        <i class="icon icon-app">
            <span>Prototype</span>
        </i>
    </a>
    <a href="{{ 'ux-process/design'|page }}" class="flex-link {% if this.page.id == 'ux-process-design' %}active{% endif %}">
        <i class="icon icon-vector-pen">
            <span>UI Design</span>
        </i>
    </a>
    <a href="{{ 'ux-process/code'|page }}" class="flex-link {% if this.page.id == 'ux-process-code' %}active{% endif %}">
        <i class="icon icon-html-five">
            <span>Code</span>
        </i>
    </a>
    <a href="{{ 'ux-process/quality-assurance'|page }}" class="flex-link {% if this.page.id == 'ux-process-quality-assurance' %}active{% endif %}">
        <i class="icon icon-check-badge">
            <span>Quality Assurance</span>
        </i>
    </a>
</div>