==
<nav class="flexbox-container">
    <div class="box logo">
        <div>
            <img src="{{ 'assets/images/em-logo.svg' | theme }}" alt="Enok Madrid Logo" height="46" width="46">
        </div>
    </div>
    <div class="box navigation">
        <ul class="list-inline">
            <li><a href="">Work</a></li>
            <li><a href="{{ 'process-discovery'|page }}">Process</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="box">
        <div>
            <i class="icon-menu icons"></i>
        </div>
    </div>
</nav>