
.c-primary {
  color: $brand-primary;
}

.btn:not(.btn-link){
  transition: all 0.15s ease-in-out;
  box-shadow: 0 4px 20px rgba(0,0,0,.1), 0 1px 6px rgba(0,0,0,0.2);

  &:hover {
    box-shadow: 0 6px 40px rgba(0,0,0,.3), 0 2px 10px rgba(0,0,0,0.2);
  }
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.btn-secondary {
  color: $brand-black;
  border: none;
}

.btn-secondary,
.btn-secondary-outline {
  &:hover, &:active, &:focus {
    background: white;
    color: $brand-secondary;
  }
}

.hasArrow {
  &:after {
    content: "\65";
    font-family: "streamline-icons-font" !important;
    opacity: 0.5;
    position: relative;
    top: 4px;
    left: 8px;
    line-height: 0.9;
    transition: all 0.15s ease-in-out;
  }
  &:hover {
    &:after {
      left: 12px;
    }
  }
}

.btn-space {
  margin-bottom: 6px;
  display: inline-block;
}