// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
$white:    #fff !default;

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-action-primary:      #FF1A55 !default;
$brand-action-secondary:    #BF0E66 !default;
$primary:                   $brand-action-primary !default;
$secondary:                 #8984FA !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white !default;
$body-color:                $gray-dark !default;

// Links
//
// Style anchor elements.

$link-color:                              $primary !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$h1-font-size:                $font-size-base * 2.8 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             800 !default;
$display2-weight:             800 !default;
$display3-weight:             800 !default;
$display4-weight:             800 !default;



// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y-lg:         .9rem !default;
$input-btn-padding-x-lg:         2rem !default;
$input-btn-font-size-lg:         1rem !default;

$btn-padding-y-lg:               $input-btn-padding-y-lg !default;
$btn-padding-x-lg:               $input-btn-padding-x-lg !default;
$btn-font-size-lg:               $input-btn-font-size-lg !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 640px,
  md: 720px,
  lg: 940px,
  xl: 1160px
) !default;


