@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

/*======================================
=            NO GUTTER CODE            =
======================================*/
.no-gutter {
  padding-right:0;
  padding-left:0;
}

/*======================================
=         INVERSE DARK COLORS          =
======================================*/
.container--inverse {
  h1,h2,h3,h4,h5,h6,p,b,span,li {
    color: #fff;
  }
}

.box-shadow {
  box-shadow: 0 4px 20px rgba(0,0,0,.2), 0 1px 6px rgba(0,0,0,0.1);
}

.page-box {
  @extend .box-shadow;
  background: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 4px;
}
.offset-top {
  position: relative;
  top: -270px;
}

.text-center {
  text-align: center;
}

/*======================================
=             MARGINS SPACES           =
======================================*/
.m-t-sm {
  margin-top: 16px;
}
.m-t-md {
  margin-top: 32px;
}
.m-t-lg {
  margin-top: 64px;
}


/*======================================
=              Z-INDEXES               =
======================================*/
.z-1  { z-index: 1; }
.z-5  { z-index: 5; }
.z-10 { z-index: 10; }
.z-15 { z-index: 15; }
.z-20 { z-index: 20; }
.z-25 { z-index: 25; }