/*
*** NAVIGATION FLEXBOX ***
*/
.flexbox-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;

  &.mobile-menu{
    &.process{
      overflow: auto;
      justify-content: space-between;
      width:100%;
      flex-wrap: nowrap;
      .flex-link{
        padding: 0 5px;
        i{ padding:0 25px; white-space: nowrap; }
      }
    }

    height: 10vmax;
    .flex-link{
      background: $brand-black-light;
      color: #8787A0;
      &:hover{
        background: $brand-black;
        text-decoration: none;
        i{ color: $brand-primary; }
      }
      &.active{
        background: $brand-black;
        border-bottom: solid 6px $brand-primary;
        color: $brand-primary;
      }
    }
    i{
      transition: all 0.5s ease;
      font-size: 28px;
      span{
        display: block;
        font-family: $font-family-sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding-top: 13px;
        color: #fff;
      }
    }
  }
  &.flexbox-links{
    background-color: $brand-black;
    .flex-link{
      max-width: 550px;
      max-height: 550px;
      &:hover {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.30;
        -moz-opacity: 30%;
        -webkit-opacity: 30%;
        z-index: 2;
      }
      &:focus{
        text-decoration: none;
      }
    }
  }
  .flex-link{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: all 0.5s ease;
    &:hover{
      transition: all 0.5s ease;
    }
    &.flex-text-left{ justify-content: flex-start; }
    &.flex-text-right{ justify-content: flex-end; }
    &:focus{
      text-decoration: none;
    }
  }

  &.content--menu{
    height: 10vmax;
    .flex-link{
      background: white;
      &:hover{
        background: #f2f2f2;
        text-decoration: none;
        i{ color: $brand-primary; }
      }
      &.active{
        background: $brand-black;
        border-bottom: solid 6px $brand-primary;
        color: $brand-primary;
      }
      &:focus{
        text-decoration: none;
      }
    }
    span{
      padding: 0 20px 10px 20px;
      font-family: $font-family-sans-serif;
    }
    i{
      transition: all 0.5s ease;
      font-size: 28px;

    }
  }

  .box{
    list-style: none;

    width: 40px;
    height: 100px;
    flex:1;
    align-items: center;
    justify-content: center;
  }
  .box:first-child,
  .box:last-child{
    flex:1;
    div{
      display: flex;
      height: inherit;
      align-items: center;
      justify-content: center;
      i{
        color:white;
        font-size: 32px;
      }
    }
  }
  .box.navigation{
    flex:4;

    ul{
      display: flex;
      height: inherit;
      justify-content: center;
      li{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: "proxima-nova";
        font-size: 20px;
        margin: 0 30px;
        a{
          color: #fff;
          &:hover{
            transition: all 0.5s ease;
            color: $brand-primary;
            text-decoration: none;
          }
        }
      }
    }
  }
}