@import "brand-colors";
@import "navigation";
@import "typography";
@import "buttons";

.jumbotron-fluid{
  margin:0;
  padding: 220px 0 60px;
  &.dark{
    background: $brand-black;
    h1,h2,h3,h4,h5,h6,p,a{
      color: white;
    }
    &.shift-up { margin-top: -100px; }
    .lead{ margin-top: 20px; }
    .btn {
      margin-top: 60px;
    }
    .scroll{
      display: block;
      margin-top: 140px;
      text-align: center;
      i{
        font-size: 36px;
        color: white;
        opacity: 0.3;
      }
    }
  }
  &.hero{
    background-image: url("../images/hero.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


// ********* ABOUT *********
#about{
  background: #f7f7f9;
  padding: 100px 0;
  .copy-intro{
    margin-top: 10px;
    .c-primary{
      color: $brand-primary;
    }
  }
  .copy-about{
    margin-top: 40px;
  }
}

.gravatar{
  border-radius: 50%;
  opacity: 0.7;
  height:140px;
  width:140px;
  margin-top: 10px;
}


// ********* WHAT I DO *********
#what-i-do{
  background: white;
  padding: 100px 0;
  .card{
    padding: 25px;
    margin: 10px;
    flex: 1;
    img{
      width: 150px;
      height: 150px;
      margin: 30px 0;
    }
    .card-subtitle, p{
      text-align: center;
      display: block;
    }
    .card-subtitle{
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 15px;

    }
  }

}
.section-title{
  width: 100%;
  display: block;
  margin-bottom: 40px;
  h1,h2,h3,h4,h5,h6,p{
    text-align: center;
    display: block;
  }
  .section-subtitle{
    font-size: 22px;
  }
}

// ********* MY PROCESS *********
#my-process{
  .flexbox-container{
    height: 16vmax;
    color: white;
    &:hover{ text-decoration: none; }
    h4{
      display: flex;
      align-items: center;
      margin: 0;
      i{
        opacity: 0.5;
        padding-left: 20px;
      }
    }
  }

}