body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
p{
  font-family: "Proxima Nova";
  &.lead{ font-size: 1.45rem;}
}

//Headers
.display-1{
  font-weight: 600;
  letter-spacing: -6px;
  small{ font-size: 70%; letter-spacing: -3px; }
}
.display-2{
  font-weight: 600;
  letter-spacing: -4px;
  small{ font-size: 60%; letter-spacing: -2px; }
}
.display-3{
  font-weight: 600;
  letter-spacing: -3px;
  small{ font-size: 55%; letter-spacing: -2px; }
}
.display-4{
  font-weight: 600;
  letter-spacing: -1px;
  small{ font-size: 50%; letter-spacing: -1px; }
}



//Buttons
.btn{
  &.round{
    border-radius: 23px;
    border-width: 2px;
  }
}
.btn-lg{
  font-size: 1.1rem;
  &.round {
    border-radius: 30px;
  }
}
.btn-sm{
  &.round {
    border-radius: 20px;
  }
}
.brand-gradient{
  $brand-primary:             #E30153;
  $brand-secondary:           #AD1C61;
  background: $brand-secondary; /* Old browsers */
  background: -moz-linear-gradient(45deg, $brand-secondary 0%, $brand-primary 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, $brand-secondary 0%,$brand-primary 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, $brand-secondary 0%,$brand-primary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-secondary', endColorstr='$brand-primary',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: none;

  &.btn:hover{

    background: $brand-secondary; /* Old browsers */
    background: -moz-linear-gradient(-45deg, $brand-secondary 0%, $brand-primary 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, $brand-secondary 0%,$brand-primary 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(-45deg, $brand-secondary 0%,$brand-primary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-secondary', endColorstr='$brand-primary',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

.flexbox-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
  height: 10vmax;
  .flex-link{
    background: #444;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #888;
    &:hover{
      background: #222;
      text-decoration: none;
    }
    &.active{
      background: #000;
      border-bottom: solid 6px #E30153;
      color: #E30153;
    }
    i{
      font-size: 30px;
      span{
        display: block;
        font-family: "poppins";
        font-size: 18px;
        padding-top: 5px;
      }
    }
  }
}

