@import "bootstrap";
@import 'mixins.scss';
@import "brand-colors";
@import "navigation";
@import "typography";
@import "buttons";

.jumbotron-fluid {
  margin:0;
  padding: 220px 0 60px;

  &.dark {
    background-color: $brand-black;

    h1,h2,h3,h4,h5,h6,p,a{
      color: white;
    }

    &.shift-up {
      margin-top: -100px;
    }

    .lead {
      margin-top: 20px;
    }

    .btn {
      margin-top: 60px;
    }

    .scroll {
      margin-top: 0 !important;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 5%;
      text-align: center;

      i {
        font-size: 36px;
        color: white;
        opacity: 0.3;
      }
    }
  }

  &.hero {
    background-image: url("../images/hero2.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


// ********* ABOUT *********
#about {
  background: #f7f7f9;
  padding: 100px 0;

  .copy-intro {
    margin-top: 10px;

    .c-primary {
      color: $brand-primary;
    }
  }

  .copy-about {
    margin-top: 40px;
  }
}

.gravatar {
  border-radius: 50%;
  //opacity: 0.8;
  height:140px;
  width:140px;
  margin-top: 10px;
  display: block;
  filter: brightness(1.7);
  background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
          rgba(16, 16, 24, 0.5),
          rgba(29, 29, 38, 0.5)
      ),
      url('../images/enok-gravatar.jpg') no-repeat center center;
  background-size: 100%;
}

// ********* WHAT I DO *********
#what-i-do {
  background: white;
  padding: 100px 0;

  .flex {
    flex: 1;
  }
  .card {
    padding: 25px;

    img {
      width: 150px;
      height: 150px;
      margin: 30px 0;
    }

    .card-subtitle, p {
      text-align: center;
      display: block;
    }

    .card-subtitle {
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 15px;

    }
  }

}

.section-title {
  width: 100%;
  display: block;
  margin-bottom: 40px;

  h1,h2,h3,h4,h5,h6,p {
    text-align: center;
    display: block;
  }

  .section-subtitle {
    font-size: 22px;
  }
}

// ********* MY PROCESS *********
#my-process {
  .flexbox-container {
    height: 260px;
    color: white;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }

    h4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      margin: 0;
    }

    .btn {
      margin-left: 30px;

    }
  }
}

//************ Section Subdivision *********
.container-fluid {
  padding: 0;
  margin: 0;
}

.section-subdivision {
  padding: 60px 0;

  h4 {
    font-weight: 600;
  }
}

//*********** FEATURED PROJECT ***********
.project--fullwidth {
  background: #333;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;

  h1, li, p {
    color: #fff;
  }

  h1 {
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }

  .project-title {
    font-weight: 600;
  }

  .project-tags {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;

    li {
      display: inline;
      font-size: 13px;

      &:not(:first-child) {
        padding-left: 4px;

        &::before {
          content: "-";
          padding-right: 8px;
        }
      }
    }
  }

  .project-text {
    margin-bottom: 35px;
  }
}

.project--description {
}

.project--image {
}

.footer-page {
  margin:0;
  padding: 150px 0 0;

  &.dark {
    background: $brand-black;
  }

  .btn-lg {
    margin-bottom: 100px;
  }

  .footer--row {
    background: rgba(0,0,0,.2);

    small:not(i) {
      color: #8787A0;
    }

    i {
      color: $brand-primary;
    }

    div {
      padding: 20px 40px;
    }
  }

  .flex-link {
    li {
      display: inline-flex;
      align-items: center;
      padding-left: 20px;
    }
  }
}



// OTHER CSS FLOATING IMAGE
.project--image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;

  img {
    display: block;
    width: 100%;
  }
}

.project--ablv {
  margin-top: -100px;
  margin-bottom: -200px;
}

.grid-overflow {
  float: right;
  overflow: hidden;
}

//************ Icon Fonts *********
.mobile-menu {
  .icon {
    &:before {
      font-size: 40px;
    }
  }
}


//********* PROCESS STEPS *********
.bg--gray {
  background: #F9F9F9;
}

.content--container {
  h3, .content--step-title {
    font-weight: 700;

    small {
      text-transform: uppercase;
    }
  }

  h4,h5 {
    font-weight: 600;
  }

  .content--step-subtext {
    color: $brand-primary;
  }

  .content--icon {
    font-size: 7rem;
    text-align: center;
    display: block;
    opacity: 0.2;
  }

  .content--tools,
  .content--tools ul {
    margin-top: 20px;
    padding-left: 10px;
    color: $gray-light;
    font-size: 0.85rem;

    li {
      list-style: none;
      line-height: 32px;
    }

    li:before {
      content:"·";
      font-size:45px;
      vertical-align:middle;
      margin-right: 15px;
    }
  }

  .content--images {
    margin-top: 40px;
  }
}


//********* Project *********
.has-overlay {
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

.introduction {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.8;
  padding: 80px 0;
  text-align: center;
  font-family: "Merriweather";
}

.featured-image {
  margin: 60px auto 0;
}

.content--summary {
  padding-bottom: 40px;
}

.content--container,
.cms-editable {
  padding: 64px 0;
}

.content--title {
  font-weight: 600;

  &:not(:first-child) {
    margin-top: 50px;
  }
}

.cms-editable {
  display: block;
  text-align: center;

  img {
    margin: 0 auto; padding-bottom: 40px;
  }

  h1,h2,h3,h4,h5,h6,p {
    padding-bottom: 20px;
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba($brand-black, 0.97);
  overflow-y: hidden;
  transition: 0.5s;

  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  a:hover,
  a:focus {
    color: #f1f1f1;
  }

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .form-group {
    input, textarea {
      background: $brand-black-light;
      color: snow;
      border: none;
      width: 100%;
      border-radius: 40px;
      padding: 15px 25px;
    }

    textarea {
      height: 170px;
    }
  }
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  h4 {
    color: white;
  }
  form {
    margin: 0 auto;
    width: 500px;
    text-align: center;
  }
}

#success-message {
  margin: 0 auto;
  width: 500px;
  display: none;
}


@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@import "media-queries";