// Small devices (landscape phones, less than 768px)
@media (min-width: 544px) and (max-width: 767px) {
  // mobile menu with smaller icons
  .flexbox-container.mobile-menu {
    height: 95px;
    i {
      &:before { font-size: 25px; }
      span {
        margin-top:-10px;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
      }
    }
  }
}
