title = "Project Details"
url = "/project/:slug"
layout = "default"
is_hidden = 1

[builderDetails projectDetails]
modelClass = "Enok\FeaturedProjects\Models\Project"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Oops! Project was not found"
==
{% set record = projectDetails.record %}
{% set displayColumn = projectDetails.displayColumn %}
{% set notFoundMessage = projectDetails.notFoundMessage %}


{% partial "navigation-menu" %}


<div class="jumbotron jumbotron-fluid dark shift-up" style="background-image: url('{{ record.image | media }}'); opacity:0.5;">
    <div class="container text-xs-center">
        {% if record %}
        <h1 class="display-3">{{record.title}}</h1>
        {% else %}
        <h1 class="display-5">{{ notFoundMessage }}</h1>
        {% endif %}
    </div>
</div>


<section class="container-fluid bg--gray">

        <div class="container content--container">

            {% if record %}
            <p class="introduction">{{record.description}}</p>

            <div class="row">

                <div class="col-md-4 content--info">
                    <h6>Project Info</h6>
                    <!--<b>Client: {{record.client_name}}</b>-->
                    <p>{{record.client_description}}</p>
                    <h6>My Roles</h6>
                    <div class="content--tools">
                        {{record.tools | raw }}
                    </div>
                    <a href="#" class="btn btn-sm btn-primary-outline round">
                    <i class="fa fa-share-alt"></i>
                        Share this project
                    </a>
                </div>
                <div class="col-md-8 content--about">
                    <h5 class="content--title">The Challenge</h5>
                    {{record.challenge}}
                    <h5 class="content--title">Getting To Work</h5>
                    {{record.solution}}
                </div>
            </div>

            {% else %}
            <div class="row text-xs-center">
                <p class="col-xs-12">{{ notFoundMessage }}</p>
            </div>
            {% endif %}
        </div>
</section> <!-- /container -->

<section class="container">
    <div class="row cms-editable">
        <div class="col-xs-12">
            {{record.content | raw}}

        </div>
    </div>
</section>

<div class="flexbox-container content--menu">
    <a href="#" class="flex-link btn">
        <i class="icon icon-arrow-left"></i><span>Previous Project</span>
    </a>
    <a href="#" class="flex-link">
        <span>Next Project</span> <i class="icon icon-arrow-right"></i>
    </a>
</div>