title = "Project Details"
url = "/project/:slug"
layout = "default"
is_hidden = 1

[builderDetails projectDetails]
modelClass = "Enok\FeaturedProjects\Models\Project"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Oops! Project was not found"
==
{% set record = projectDetails.record %}
{% set displayColumn = projectDetails.displayColumn %}
{% set notFoundMessage = projectDetails.notFoundMessage %}


{% partial "navigation-menu" %}


<div class="jumbotron jumbotron-fluid dark shift-up has-overlay" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('{{ record.hero_image | media }}');">
    <div class="container text-xs-center">
        {% if record %}
        <h1 class="display-3">{{record.title}}</h1>
        <img class="img-fluid featured-image" src="{{ record.featured_image | media }}" alt="">
        {% else %}
        <h1 class="display-5">{{ notFoundMessage }}</h1>
        {% endif %}
    </div>
</div>

<section class="container-fluid bg--gray">
    <p class="container introduction hidden-md-down">{{record.description}}</p>
</section>

<section class="container-fluid">

        <div class="container">

            {% if record %}

            <div class="row content--container">

                <div class="col-md-4 content--summary">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <span class="content--step-subtext">My Roles</span>
                            <div class="content--tools m-b-lg">
                                {{record.roles | raw }}
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <span class="content--step-subtext">Technologies</span>
                            <div class="content--tools">
                                {{record.tools | raw }}
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <a href="#" class="btn btn-sm btn-primary-outline round">
                                <i class="fa fa-share-alt"></i>
                                Share this project
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 content--about">
                    <h5 class="content--title">The Challenge</h5>
                    {{record.challenge}}
                    <h5 class="content--title">Getting To Work</h5>
                    {{record.solution}}
                </div>
            </div>

            {% else %}
            <div class="row text-xs-center">
                <p class="col-xs-12">{{ notFoundMessage }}</p>
            </div>
            {% endif %}
        </div>
</section>

<section class="container-fluid cms-editable">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{record.content | raw}}

            </div>
        </div>
    </div>
</section>

<div class="flexbox-container content--menu">
    <a href="#" class="flex-link">
        <i class="icon icon-arrow-left"></i><span>Previous Project</span>
    </a>
    <a href="#" class="flex-link">
        <span>Next Project</span> <i class="icon icon-arrow-right"></i>
    </a>
</div>